{% extends 'layout.twig' %}

{% block contents %}
    {% if raffle %}
        <h1>
            {{ raffle.name }}
        </h1>
        <div class="row align-items-center">
            {% for index, item in raffle.numbers %}
                <div class="col-auto {{ item.buyer ? 'bg-danger text-white' }}">
                    <div class="dropdown">
                        <div id="dropdownMenu{{ number }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ item.number }}
                        </div>
                        {%if uinfo %}
                            {% if item.buyer %}
                                <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="dropdownMenu{{ number }}" style="min-width: 360px;">
                                    <h5 class="card-header">Número {{ item.number }}</h5>
                                    <div class="card-body">
                                        <dl class="row mb-0">
                                            <dt class="col-sm-4">Nome</dt>
                                            <dd class="col-sm-8">{{ item.buyer.name }}</dd>
                                            <dt class="col-sm-4">Telefone</dt>
                                            <dd class="col-sm-8">{{ item.buyer.phone|phone }}</dd>
                                            <dt class="col-sm-4">Obs:.</dt>
                                            <dd class="col-sm-8">{{ item.buyer.notes|default("Não informado") }}</dd>
                                        </dl>
                                    </div>
                                </div>
                            {% else %}
                                <div class="dropdown-menu dropdown-menu-right {{ flash.getFirstMessage('number')|split(";", 2)|first == item.number ? 'show' }}" aria-labelledby="dropdownMenu{{ number }}" style="min-width: 360px;">
                                    <form action="{{ url_for('home') }}" method="post" class="px-4 py-3">
                                        <input type="hidden" name="raffle_id" value="{{raffle.id}}" />
                                        <div class="form-group">
                                            <label for="raffleNumber">Número(s) Comprado(s)</label>
                                            <input type="text" name="number" class="form-control" id="raffleNumber" aria-describedby="raffleNumberHelp" placeholder="ex: 1;54;59" value="{{ flash.getFirstMessage('number') ?: item.number }}">
                                            <small id="raffleNumberHelp" class="form-text text-muted">Separe-os por ponto e vírgula (;) <span class="badge badge-pill badge-dark" data-toggle="tooltip" data-placement="bottom" title="Por exemplo: 1;12;33;50">?</span></small>
                                        </div>
                                        <div class="form-group">
                                            <label for="buyerName">Nome do Comprador</label>
                                            <input type="text" name="name" class="form-control" id="buyerName" aria-describedby="buyerNameHelp" placeholder="ex: João da Silva" value="{{ flash.getFirstMessage('name') ?: '' }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="buyerPhone">Número de Telefone</label>
                                            <input type="text" name="phone" class="form-control" id="buyerPhone" aria-describedby="buyerPhoneHelp" placeholder="ex: (11) 90000-0000" value="{{ flash.getFirstMessage('phone') ?: '' }}" data-inputmask="'mask': '(99) 99999-9999'">
                                        </div>
                                        <div class="form-group">
                                            <label for="buyerNotes">Observações</label>
                                            <textarea name="notes" class="form-control" id="buyerNotes" rows="2" placeholder="ex: Vizinho da Dona Maria">{{ flash.getFirstMessage('notes') ?: '' }}</textarea>
                                            <small id="buyerNotesHelp" class="form-text text-muted">Observações que possam ser úteis sobre o comprador.</small>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Salvar</button>
                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
